body {
	font-family: Calibri, Times New Roman;

	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#topbar {
	padding: 10px 0px;
    background: #141027;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 30px;
}

.topbar-button {
	position: relative;

	float: right;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;

}

.topbar-link {
	text-decoration: none;
}

.topbar-text {
	text-decoration: none;
	font-family: Calibri;
	color: white;
    font-size: 20px;
}

#current-page {
    font-family: Calibri;
    font-size: 20px;
    position: relative;
    margin-left: 20px;
    color: white;
}

.topbar-text:hover {
	font-weight: bold;
}


#my-name, #my-story, #my-projects, #my-links {
  color: black;
  font-family: Calibri, Times New Roman;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  width: 800px;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#my-resume {
  color: black;
  font-family: Calibri, Times New Roman;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  width: 800px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#resume-pdf {
	position: absolute;
	top: 26%;
    left: 50%;
	transform: translate(-50%, 0%);
}

#picture {
	max-width: 50%;
	height: auto;
	position: relative;
	top: 98%;

	left: 50%;

	transform: translate(-50%, -50%);

	opacity: 1;

}

#text-headline {
	color: black;
	font-family: Calibri, Times New Roman;

    font-size: 34px;
    font-weight: 100;
    text-align: center;
    width: 800px;
    position: absolute;
    top: 45%;
    left: 50%;
	transform: translate(-50%, -50%);

}

#year {
    color: black;
    font-family: Calibri, Times New Roman;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    width: 700px;
    position: absolute;
    top: 20%;
	left: 50%;
	margin-top: 20px;
	transform: translate(-50%, -50%);
	opacity: 1;
}

#main-text {
    color: black;
    font-family: Calibri, Times New Roman;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    width: 700px;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}


#main-box {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 180px;
	border-radius: 10px;
	opacity: 0.7;
}

#story-box {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -70%);
	width: 800px;
	height: 400px;
    background-color: white;
	border-radius: 10px;
	opacity: 0.7;
	margin-bottom: 70px;
}

#story {
    color: black;
    font-family: Calibri, Times New Roman;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    width: 700px;
    position: absolute;
    top: 45%;
	left: 50%;
	margin-top: 20px;
	transform: translate(-50%, -50%);
	opacity: 1;
}









/* projects style*/

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}


#pictures {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 680px;
    margin: auto;
    text-align: center;
}
#pictures img {
    width: 200px;
    margin: 0 10px;
    transition: 0.3s;
}
#pictures img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.hidden {
    display: none;
}
#lightbox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}
.lightbox img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.lightbox .caption {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


a {
    color: inherit;
    text-decoration: none;
}

.question {
    box-shadow: 0 1px 2px rgba(0,0,0,0.12);
    background: white;
    padding: 18px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 2px;
    text-align: center;
    font-weight: 700;
    color: #4a4a4a;
    cursor: pointer;
    transition: 0.2s;
}

.question:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16);
}

#index {
    width: 240px;
    position: absolute;
    left: calc(50% - 120px);
    top: calc(50% - 206px);
}






/*links style*/




/* Main container */

#root {
	position: absolute;
	width: 95%;
	width: 800px;
	height: 95%;
	top: 35%; left: 45%;
	transform: translate(-50%, -50%);
	margin-bottom: 40px;
}

.link-item {
	position: relative;
	width: 350px;
	height: 360px;
	border-radius: 5px;
	left: 100px;
	top: 400px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;

	padding-top: 10px;
	text-align: center;

}

.link-image {
	position: relative;
	width: 330px;
	height: 330px;
	margin-bottom: 10px;

}

#linkedpic {
	position: relative;
	width: 270px;
	height: 270px;
	margin-bottom: 10px;
}



/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #34cceb;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
